body {
    background-color: rgb(56, 56, 56);
}

header{
    background-image: url("images/Fejléc.jpg");
    height: 100px;
    color: aliceblue;
}
header h1{
    text-shadow: 5px 5px 8px white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    height: auto;
}
nav a{
   color: rgb(0, 0, 0) !important;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar{
    background-color: rgb(194, 194, 194) !important;
    height: 80px;
}

.active {
    font-weight: bold; 
} 
div {
    padding: 15px;
    
}
section img{
    box-shadow: 5px 5px 8px whitesmoke;
    border-radius: 20%;
    border: 5px solid white;
    height: 200px;
    width: 1000px;
}
  table{
    color: aliceblue;
    border: 1px black;
    background-color: blanchedalmond;
  }

