body{
    background-color: goldenrod;
    margin: 0px;
    padding: 0px;
}
header{
    background-image:url("../images/Header.jpg");
    height: 200px;
    background-size: contain;
}
header h1{
    color: rgb(108, 9, 9);
    font-size: 40px;
    text-shadow: 5px 5px 10px rgb(69, 3, 3);
    text-align: center;
    padding-top: 60px;
    margin: 0px;
}
ul{
    list-style-type: none;
    border: 1px solid rgb(230, 226, 226);
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}
li{
    float: left;
}
li a{
    text-decoration: none;
    color:rgb(236, 236, 237);
    padding: 14px; 16px;
    display:block;
}
li a:hover{
    background-color: yellowgreen;
}
#aktuáliso{
    background-color: chocolate;
}